.productsList {
  display: flex;
  justify-content: center;
  max-width: 1200px;

  &__button {
    &--active{
      color: red
    }
  }

  &__displayStyle {
    position: absolute;

    transform: translate(0, -200%);
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
}